// ant 样式自定义
[data-kit-theme="default"],
[data-kit-theme="dark"] {
    ::-webkit-input-placeholder {
        color: rgba(#303e67, 0.5);
        opacity: 1;
        font-size: 12px;
    }
    ::-ms-input-placeholder {
        color: rgba(#303e67, 0.5);
        opacity: 1;
        font-size: 12px;
    }
    ::placeholder {
        color: rgba(#303e67, 0.5);
        opacity: 1;
        font-size: 12px;
    }
    %font-basesize {
        font-size: 12px !important;
    }
    .width-200 {
        width: 200px;
    }
    .price-sys {
        font-style: normal;
        font-size: 14px;
    }
    .badge {
        @extend %font-basesize;
    }
    .hidden {
        display: none;
    }
    .ant {
        font-size: 12px;
    }
    .my-profile {
        width: 100%;
        margin: 0px auto;
        position: relative;
    }
    .profile-ranking {
        max-width: 720px;
        margin: 0px auto;
        .bg-black-op {
            padding-top: 30px;
        }
        .profile-widget {
            height: 360px;
            .profile-image {
                width: 72px;
                height: 72px;
            }
            h1 {
                font-size: 16px;
            }
            .stats {
                padding: 10px 0px;
            }
            .widget-inline-list li span {
                font-size: 16px;
            }
        }
    }
    .bg-black-op {
        background-color: rgba(0, 0, 0, 0.3);
        width: 100%;
        height: 100%;
        padding-top: 40px;
        position: relative;
    }
    .widget {
        overflow: hidden;
        margin-bottom: 10px;
        background: #fff;
        border-radius: 0px;
        padding: 20px;
        height: 420px;
        position: relative;
    }
    .widget-inline-list {
        display: block;
        .col-4 {
            width: 33.333333%;
        }
        li {
            display: block;
            float: left;
            text-align: center;

            padding: 10px 0;

            span {
                font-size: 20px;
                display: block;
                color: inherit;
                font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue",
                    Helvetica, Arial, sans-serif;
                font-weight: 600;
            }
            strong {
                display: block;
                font-size: 14px;
                padding-top: 3px;
                color: #999;
            }
        }
    }
    .ribbon-box {
        position: absolute;
        top: 0px;
        right: 0;
        padding: 0 15px;
        height: 48px;
        line-height: 48px;
        background-color: rgba(255, 255, 255, 0.35);
        color: #fff;
        z-index: 500;
        font-size: 30px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        font-family: "electronicFont";
        &::before {
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            content: "";
            top: 0;
            right: 100%;
            border: 24px solid;
            border-color: rgba(255, 255, 255, 0.35);
            border-left-color: transparent;
            border-bottom-color: transparent;
        }
    }
    .profile-widget {
        padding: 0;

        color: #fff;
        text-align: center;
        background: url(/resources/images/main.jpg);
        background-size: cover;
        &.widget0 {
            background: url(/resources/images/photo0.jpg);
        }
        &.widget1 {
            background: url(/resources/images/photo1.jpg);
        }
        &.widget2 {
            background: url(/resources/images/photo2.jpg);
        }
        &.widget3 {
            background: url(/resources/images/photo3.jpg);
        }
        &.widget4 {
            background: url(/resources/images/photo4.jpg);
        }
        &.widget5 {
            background: url(/resources/images/photo5.jpg);
        }
        &.widget6 {
            background: url(/resources/images/photo6.jpg);
        }
        &.widget7 {
            background: url(/resources/images/photo7.jpg);
        }
        &.widget8 {
            background: url(/resources/images/photo8.jpg);
        }
        &.widget9 {
            background: url(/resources/images/photo9.jpg);
        }

        h1 {
            color: #fff;
            margin: 0;
            font-size: 18px;
            padding: 10px 0px;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            font-weight: 300;
        }
        .clearfix:before,
        .clearfix:after {
            content: " ";
            display: table;
        }
        .stats {
            color: #fff;
            padding: 12px 0;
            position: absolute;
            bottom: -20px;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.4);
            span {
                color: #fff;
            }
        }
        .profile-image {
            width: 96px;
            height: 96px;

            -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.6);
            box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.6);
            border-radius: 999px;
            margin-bottom: 10px;
        }
    }
}
