@import "src/mixins.scss";

:root {
    --kit-color-primary: #1b55e3;
    --kit-font-family: "Microsoft YaHei", "微软雅黑", "pingfang sc", "宋体",
        Arial, Helvetica, sans-serif;
}

html {
    font-size: 12px;
    @media (max-width: $sm-max-width) {
        font-size: 12px;
    }
}

body {
    font-family: $base-font-family;
}

// dark theme
[data-kit-theme="dark"] {
    body {
        background: darken($dark-gray-5, 3%);
    }
}
